.menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center; 
    text-align: left;
  }
 
  .menu-item img {
    width: 150px;
    height: 150px;
  }

  .menu-item h3 {
    font-size: 22px;
    margin: 0;
  }
  
  .menu-item p {
    margin-top: 5px;
  }
  
  .menu-item button {
    background-color: #f7b733;
    color: rgb(0, 0, 0)808;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  .menu-item button:hover {
    background-color: #e89c19;
  }
  